<div class="col m-4 p-5">
  <form>
    <div class="form-group">
      <label for="exampleInputPassword1">Usuario</label>
      <input type="text" name="busqueda" class="form-control" [(ngModel)]="name">
    </div>
    <button type="submit" class="btn btn-primary" (click)="searchUser()">Submit</button>
  </form>
</div>

<div class="row">
  <div class="col-3" *ngFor="let user of users">
      <div class="card-group">
      <div class="card m-4" >
        <a [routerLink]="[ '/user', user.login ]">
          <img src="{{user.avatar_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{user.login}}</h5>
            <p class="card-text"><small class="text-muted">Id: {{user.id}}</small></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
