<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ user.avatar_url}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.login}}</h5>
        <p class="card-text">Seguidores: {{user.followers}}</p>
        <p class="card-text">Siguiendo: {{user.following}}</p>
        <p class="card-text"><small class="text-muted">ID: {{user.id}}</small></p>
      </div>
    </div>
  </div>
  <a class="btn btn-primaty" href="/">Volver</a>
</div>
